/*--------------------
        RESET
/*--------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*--------------------
        GENERAL
/*--------------------*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.alternate img {
    max-width: 100%;
    height: auto;
}

ul li {
    list-style: none;
    display: block;
    line-height: 2;
    font-weight: 500;
}


/*--------------------
      TYPHOGRAPHY
/*--------------------*/
body {
    font-family: "Roboto";
    font-weight: 400;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
}

button {
    font-family: inherit;
    font-weight: inherit;
}

h1 {
    font-size: 40px;
    font-weight: 900;
}

p {
    color: #23272A;
    font-weight: 500;
}

#decorate {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 30px;
    color: #23272A;
    font-weight: 900;
    font-size: 30px;
}

/*--------------------
        BUTTONS
/*--------------------*/
.hero-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn,
.btn-sm {
    border-radius: 20px;
    background-color: transparent;
    border: none;
    font-size: inherit;
    cursor: pointer;
}

.btn {
    padding: 12px 24px;
}

.btn-sm {
    padding: 10px 12px;
    font-size: 14px;
}

/* White Buttons*/
.btn-white {
    background-color: #fff;
    color: #23272A;
}

.btn-white:hover {
    background-color: #D3D3D3;
    color: #000;
}

/* Dark Buttons*/
.btn-dark {
    background-color: #23272A;
    color: #fff;
}

.btn-dark:hover {
    background-color: #000;
    color: #D3D3D3;
}

/* Colored Buttons*/
.btn-lilac {
    background-color: #8EA1E1;
    color: #fff;
}

.btn-lilac:hover {
    background-color: #6273E3;
    color: #D3D3D3;
}

/*--------------------
        HEADER
/*--------------------*/
.header-top {
    padding-top: 15px;
    background-color: #255EE9;
    color: #fff;
}

.header-bottom {
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
}

.header-bottom h1 {
    padding-bottom: 30px;
}

.header-bottom p {
    font-size: 18px;
    padding-bottom: 20px;
    font-weight: 700;
    color: #fff;
}


.header-top>.container {
    display: flex;
    align-items: center;
}

.header-top .logo,
.header-top .login {
    width: 20%;
}

.header-top nav {
    width: 60%;
}

.header-top nav>ul {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.header-top nav ul li {
    list-style: none;
    display: flex;
    font-size: 14px;
}

.header-top .login {
    text-align: right
}

.header-bottom .container {
    width: 45%;
    padding: 150px 0;
    text-align: center;
    color: #fff;
}

/*--------------------
        MAIN
/*--------------------*/

.alternate>.container {
    display: flex;
    padding: 150px 0;
}

section.alternate:nth-child(2n) {
    background-color: #D3D3D3;
}

section.alternate:nth-child(2) .col-sm {
    align-items: flex-start;
}

.container .col-big {
    width: 60%;
    display: flex;
    justify-content: flex-start;
}

section.alternate:nth-child(2) .col-big {
    justify-content: flex-end;
}

.container .col-sm {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.col-sm .content {
    align-self: flex-end;
}

.col-sm h1 {
    margin-top: 25px;
    color: #23272A;
}

.col-sm p {
    margin-top: 20px;
}

.container .col-bigger {
    width: 100%;
}

.col-bigger .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.col-bigger h1 {
    color: #23272A;
    margin-top: 25px;
}

.content .btn {
    align-self: center;
}

/*--------------------
        FOOTER
/*--------------------*/
.footer-top,
.footer-bottom {
    background-color: #23272A;
    color: #fff;
}

.footer-top>.container {
    display: flex;
    padding: 50px 0;
}

.container .col-group {
    width: 100%;
    display: flex;
}

.container .col-med {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.col-med h2 {
    color: #7289DA;
    font-size: 30px;

}

#flag {
    width: 25px;
    height: 15px;
}

.col-med p {
    color: #fff;
}

.icons>* {
    margin-right: 15px;
    font-size: 18px;
}

.col ul>li:first-child {
    color: #7289DA;
}

.container .col {
    width: 15%;
    font-size: 15px;
}

.footer-bottom>.container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #7289DA;
    padding: 25px 0 100px 0;
}